In [161]:
from pubg_util import mysql, load_schema, notifier
from sphynx import sphynx, NODE_SMALL, NODE_MEDIUM, NODE_LARGE
from pyspark.sql.functions import *
import pandas as pd
import pickle

spark = sphynx.get_spark(executor_count=4, app_name='west0', node_spec=NODE_LARGE)

Spark cluster not assigned. creating a new one...
Node spec: 4 executors with 48G RAM each
Job Port 4049 is assigned for requested cluster
Waiting for Spark master to be available...
Spark master launched!
Creating new Spark session, name: west0...
Waiting for all executors ready...
All executors connected!
Complete! elapsed time: 00:00:26

In [251]:
sphynx.stop()

Stopping Spark session...

/usr/local/spark/python/pyspark/context.py:446: RuntimeWarning: Unable to cleanly shutdown Spark JVM process. It is possible that the process has crashed, been killed or may also be in a zombie state.
  RuntimeWarning

Destroying Spark cluster...
Done!
You can safely ignore the warning message if there is any.

In [164]:
# user 지역
from pyspark.sql.types import * 

def classify_country(country_os, country_ip):
    if country_os != 'CN':
        return country_ip
    else:
        return country_os

country_type_udf = udf(classify_country, StringType())

meta_region = mysql.read_table(spark, 'metainfo', 'meta_bi_regions')

# user = user.withColumn("country_new", country_type_udf("country_os", "country_ip"))
# user = user.join(meta_region, user.country_new == meta_region.country_code_iso2, "left")

In [91]:
def get_user_info(start_date, end_date):
    user = load_data_mart("pc", end_date, end_date, "user_master").where(col('lastlogindate') >= start_date).withColumnRenamed("accountid", "account_id")
    user = user.withColumn("country_new", country_type_udf("country_os", "country_ip"))
    user = user.join(meta_region, user.country_new == meta_region.country_code_iso2, "left")
    membership = load_membership("pubg", "pc", end_date, end_date)
    user = user.join(membership, "account_id")
#     user = user.select("account_id", "membership", "pubg_region").distinct()
    return user

In [102]:
# nov_user = get_user_info("2021-11-01", "2021-11-30")
# dec_user = get_user_info("2021-12-01", "2021-12-31")
feb_user = get_user_info("2022-02-01", "2022-02-28")
march_user = get_user_info("2022-03-01", "2022-03-31")

In [103]:
feb_cash = load_data_mart("pc", "2022-02-01", "2022-02-28", "cash_mtx")
march_cash = load_data_mart("pc", "2022-03-01", "2022-03-31", "cash_mtx")

ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:42631)
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 929, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1067, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused

In [104]:
feb_cash = feb_cash.join(feb_user, "account_id", "left")
march_cash = march_cash.join(march_user, "account_id", "left")

In [40]:
feb_user.groupBy("membership").agg(countDistinct("account_id").alias("au")).show()
march_user.groupBy("membership").agg(countDistinct("account_id").alias("au")).show()

+----------+-------+
|membership|     au|
+----------+-------+
|      plus| 111541|
|     basic|6748746|
|    legacy|6401947|
+----------+-------+

+----------+-------+
|membership|     au|
+----------+-------+
|      plus| 144729|
|     basic|6319167|
|    legacy|5797957|
+----------+-------+

In [44]:
feb_cash.groupBy("membership").agg(sum("ingame_revenue").alias("revenue"), countDistinct("account_id").alias("pu")).show()
march_cash.groupBy("membership").agg(sum("ingame_revenue").alias("revenue"), countDistinct("account_id").alias("pu")).show()

+----------+-----------+------+
|membership|    revenue|    pu|
+----------+-----------+------+
|      plus| 3697742.25| 76372|
|     basic| 1027688.73|131777|
|    legacy|17792799.09|623633|
+----------+-----------+------+

+----------+-----------+------+
|membership|    revenue|    pu|
+----------+-----------+------+
|      null|       1.99|     1|
|      plus| 3053227.30| 81644|
|     basic| 1039482.03| 93255|
|    legacy|18996423.49|613567|
+----------+-----------+------+

In [46]:
feb_cash.where(col("product_id") != "gcoinbundledesc.1015").groupBy("membership").agg(sum("ingame_revenue").alias("revenue"), countDistinct("account_id").alias("pu")).show()
march_cash.where(col("product_id") != "gcoinbundledesc.1015").groupBy("membership").agg(sum("ingame_revenue").alias("revenue"), countDistinct("account_id").alias("pu")).show()

+----------+-----------+------+
|membership|    revenue|    pu|
+----------+-----------+------+
|      plus| 2848378.06| 45361|
|     basic| 1027637.01|131774|
|    legacy|17788591.13|623396|
+----------+-----------+------+

+----------+-----------+------+
|membership|    revenue|    pu|
+----------+-----------+------+
|      null|       1.99|     1|
|      plus| 2299121.72| 53079|
|     basic| 1039469.12| 93254|
|    legacy|18992851.40|613360|
+----------+-----------+------+

In [110]:
feb_cash.select("account_id", "membership", "product_id", "product_name", "unit_sold", "ingame_revenue")

DataFrame[account_id: string, membership: string, product_id: string, product_name: string, unit_sold: bigint, ingame_revenue: decimal(38,2)]

In [114]:
topup = load_data_mart("pc", "2021-12-01", "2021-12-01", "gcoin_topup")

In [120]:
total_cash = feb_cash.select("account_id", "membership", "product_id", "product_name", "unit_sold", "ingame_revenue").withColumn("month", lit("feb")).unionByName(march_cash.select("account_id", "membership", "product_id", "product_name", "unit_sold", "ingame_revenue").withColumn("month", lit("march")))
total_cash.where((col("product_id") != "gcoinbundledesc.1015") & (col("membership") == "legacy")).groupBy("month", "product_name").agg(countDistinct("account_id").alias("pu"), sum("unit_sold").alias("unit_sold"), sum("ingame_revenue").alias("revenue")).groupBy("product_name").agg(mean("pu").alias("avg_pu"), mean("unit_sold").alias("avg_unit_sold"), mean("revenue").alias("avg_revenue")).orderBy("avg_unit_sold", ascending=False).toPandas()

,product_name,avg_pu,avg_unit_sold,avg_revenue
0,100 G-Coin,147823.0,334206.0,331029.770000
1,STARTER PACKAGE,240879.0,240879.0,478475.410000
2,1000(+50 Bonus) G-Coin,171218.0,237056.5,2368361.690000
3,HARDCORE HITMAN VALUE PACK,235916.0,235916.0,2352844.800000
4,500(+10 Bonus) G-Coin,145011.0,185761.0,927039.655000
5,2500(+200 Bonus) G-Coin,89583.5,133572.0,3338038.070000
6,10000(+1200 Bonus) G-Coin,26149.5,67771.0,6776463.455000
7,5000(+500 Bonus) G-Coin,41735.5,59904.0,2994656.050000
8,GILT ELEGANCE - 1050 G-COIN SKIN PACK,23.5,23.5,234.765000

In [122]:
total_cash.where((col("product_id") != "gcoinbundledesc.1015") & (col("membership") == "plus")).groupBy("month", "product_name").agg(countDistinct("account_id").alias("pu"), sum("unit_sold").alias("unit_sold"), sum("ingame_revenue").alias("revenue")).groupBy("product_name").agg(mean("pu").alias("avg_pu"), mean("unit_sold").alias("avg_unit_sold"), mean("revenue").alias("avg_revenue")).orderBy("avg_unit_sold", ascending=False).toPandas()

                 product_name   avg_pu  avg_unit_sold     avg_revenue
0                  100 G-Coin  13622.5        36502.5    36169.910000
1             STARTER PACKAGE  25098.0        25098.0    49767.380000
2      1000(+50 Bonus) G-Coin  15720.0        24459.5   244379.680000
3       500(+10 Bonus) G-Coin  15290.0        22224.5   110919.285000
4  HARDCORE HITMAN VALUE PACK  17475.0        17475.0   173987.850000
5     2500(+200 Bonus) G-Coin   9312.5        14920.5   372878.300000
6   10000(+1200 Bonus) G-Coin   2887.0        13721.0  1371968.040000
7     5000(+500 Bonus) G-Coin   3730.5         6014.5   300673.370000

In [121]:
total_cash.where((col("product_id") != "gcoinbundledesc.1015") & (col("membership") == "basic")).groupBy("month", "product_name").agg(countDistinct("account_id").alias("pu"), sum("unit_sold").alias("unit_sold"), sum("ingame_revenue").alias("revenue")).groupBy("product_name").agg(mean("pu").alias("avg_pu"), mean("unit_sold").alias("avg_unit_sold"), mean("revenue").alias("avg_revenue")).orderBy("avg_unit_sold", ascending=False).toPandas()

,product_name,avg_pu,avg_unit_sold,avg_revenue
0,STARTER PACKAGE,80583.5,80583.5,159915.085000
1,100 G-Coin,31356.5,67437.0,66816.695000
2,500(+10 Bonus) G-Coin,20363.5,24946.5,124512.545000
3,1000(+50 Bonus) G-Coin,17056.5,21723.0,217057.495000
4,HARDCORE HITMAN VALUE PACK,8863.0,8863.0,88024.810000
5,2500(+200 Bonus) G-Coin,6810.5,8565.0,214055.675000
6,5000(+500 Bonus) G-Coin,1624.0,1992.0,99586.835000
7,10000(+1200 Bonus) G-Coin,504.5,1076.0,107591.335000
8,GILT ELEGANCE - 1050 G-COIN SKIN PACK,1.0,1.0,9.990000

In [50]:
feb_cash.where((col("product_id") != "gcoinbundledesc.1015") & (col("membership") == "plus")).groupBy("product_name").agg(countDistinct("account_id").alias("pu"), sum("unit_sold").alias("unit_sold"), sum("ingame_revenue").alias("revenue")).toPandas()

                product_name     pu  unit_sold     revenue
0      500(+10 Bonus) G-Coin  14883      22043   110011.39
1            STARTER PACKAGE  27575      27575    54684.41
2     1000(+50 Bonus) G-Coin  12688      20032   200141.85
3                 100 G-Coin  13900      37052    36710.87
4    5000(+500 Bonus) G-Coin   2896       4389   219412.03
5    2500(+200 Bonus) G-Coin   8218      13353   333702.77
6  10000(+1200 Bonus) G-Coin   3321      18939  1893714.74

In [54]:
march_cash.where((col("product_id") != "gcoinbundledesc.1015") & (col("membership") == "plus")).groupBy("product_name").agg(countDistinct("account_id").alias("pu"), sum("unit_sold").alias("unit_sold"), sum("ingame_revenue").alias("revenue")).orderBy("pu", ascending=False).toPandas()

                 product_name     pu  unit_sold    revenue
0             STARTER PACKAGE  22621      22621   44850.35
1      1000(+50 Bonus) G-Coin  18752      28887  288617.51
2  HARDCORE HITMAN VALUE PACK  17475      17475  173987.85
3       500(+10 Bonus) G-Coin  15697      22406  111827.18
4                  100 G-Coin  13345      35953   35628.95
5     2500(+200 Bonus) G-Coin  10407      16488  412053.83
6     5000(+500 Bonus) G-Coin   4565       7640  381934.71
7   10000(+1200 Bonus) G-Coin   2453       8503  850221.34

In [20]:
cash_df = load_data_mart("pc", "2022-01-12", "2022-01-18", "cash_mtx")

In [22]:
membership = load_membership("pubg", "pc", "2022-01-18", "2022-01-18").select("account_id", "membership").distinct()

In [23]:
cash_df = cash_df.join(membership, "account_id")

In [27]:
first_buy_time = cash_df.where(col("membership")!="legacy").groupBy("account_id").agg(min("time").alias("first_buy_time"))
first_buy_item = cash_df.join(first_buy_time, (cash_df.account_id == first_buy_time.account_id) & (cash_df.time == first_buy_time.first_buy_time))

In [29]:
first_buy_item.groupBy("product_name").agg(count("*")).toPandas()

                            product_name  count(1)
0                  500(+10 Bonus) G-Coin      2955
1                        STARTER PACKAGE     98192
2                 1000(+50 Bonus) G-Coin      3413
3                             100 G-Coin      2621
4                     BATTLEGROUNDS PLUS     20493
5                5000(+500 Bonus) G-Coin       238
6                2500(+200 Bonus) G-Coin      1887
7              10000(+1200 Bonus) G-Coin        84
8  GILT ELEGANCE - 1050 G-COIN SKIN PACK         4

In [6]:
# starter package 구매자들 중 legacy 가 아닌 유저들의 현금 구매 상품

cash = pd.read_csv('./data/starter_buyer_cash_buy.csv')

In [13]:
cash = cash[cash.membership != "legacy"]

In [14]:
cash.groupby(["account_id"], as_index=False)[["ingame_revenue", "unit_sold"]].sum().describe()

       ingame_revenue      unit_sold
count   107082.000000  107082.000000
mean         6.405848       1.558198
std         26.099224       1.279308
min          1.910000       1.000000
25%          1.990000       1.000000
50%          1.990000       1.000000
75%          2.980000       2.000000
max       1369.830000      48.000000

In [15]:
cash.groupby(["account_id", "membership"], as_index=False)[["ingame_revenue", "unit_sold"]].sum().groupby("membership").describe()

           ingame_revenue                                                    \
                    count       mean        std    min    25%    50%    75%
membership
basic             98405.0   3.616504   8.370595   0.99   1.99   1.99   1.99
plus              11722.0  28.157735  70.809548  12.91  14.98  14.98  17.98

                    unit_sold
                max     count      mean       std  min  25%  50%  75%   max
membership
basic        557.78   98405.0  1.383263  1.006746  1.0  1.0  1.0  1.0  42.0
plus        1369.83   11722.0  2.621822  2.027129  1.0  2.0  2.0  3.0  48.0

In [18]:
cash.groupby(["membership", "product_name"])[["ingame_revenue", "unit_sold"]].sum().sort_values(["membership", "unit_sold"])

                                      ingame_revenue  unit_sold
membership product_name
basic      BATTLEGROUNDS PLUS                  25.98          2
           10000(+1200 Bonus) G-Coin         7699.47         77
           5000(+500 Bonus) G-Coin          13898.05        278
           2500(+200 Bonus) G-Coin          40935.73       1638
           1000(+50 Bonus) G-Coin           42632.67       4267
           500(+10 Bonus) G-Coin            30404.94       6092
           100 G-Coin                       25190.52      25433
           STARTER PACKAGE                 195094.67      98333
plus       5000(+500 Bonus) G-Coin          20046.51        401
           10000(+1200 Bonus) G-Coin        75992.68        760
           2500(+200 Bonus) G-Coin          32613.02       1305
           1000(+50 Bonus) G-Coin           17574.03       1759
           500(+10 Bonus) G-Coin            10430.50       2090
           100 G-Coin                        3914.82       3951
           STARTER PACKAGE                  17335.65       8747
           BATTLEGROUNDS PLUS              152157.76      11720

In [82]:
starter_buyer_cash_buy = pd.read_csv('./data/starter_buyer_cash_buy.csv')

In [83]:
starter_buy_time = starter_buyer_cash_buy[starter_buyer_cash_buy.product_id == "gcoinbundledesc.1016"][["account_id", "time"]]

In [84]:
starter_buyer_gcoin = mysql.read_table(spark, "labs", "starter_buyer_gcoin")

In [85]:
paid_gcoin_time = starter_buyer_gcoin.groupBy("account_id").agg(min("time").alias("buy_time")).toPandas()

In [88]:
paid_gcoin_time.shape

(76869, 2)

In [86]:
df = pd.merge(paid_gcoin_time, starter_buy_time, on="account_id")

In [92]:
df[["buy_time", "time"]] = df[["buy_time", "time"]].apply(pd.to_datetime)

In [93]:
df['time_diff'] = (df.buy_time - df.time).astype('timedelta64[h]')

In [79]:
df_pos = df_pos.groupby(["time_diff"], as_index=False)["account_id"].count()

In [80]:
df_pos["cum_sum"] = df_pos.account_id.cumsum()

In [73]:
df_pos.account_id.sum()

310

In [59]:
df_pos["percent"] = df_pos["cum_sum"]/18267

In [61]:
df_pos.to_csv("./data/time_diff.csv", index=False)

In [92]:
# basic & plus
user = load_data_mart("pc", "2022-01-12", "2022-02-08", "user_master").where((col("firstlogindate") >= "2022-01-12") & (col("lastlogindate") == col("date")))

In [11]:
# legacy
legacy_user = load_data_mart("pc", "2022-01-12", "2022-02-08", "user_master").where((col("firstlogindate") < "2022-01-12") & (col("lastlogindate") == col("date")))

In [93]:
starterpackage = load_data_mart("pc", "2022-01-12", "2022-02-08", "cash_mtx").where(col("product_id") == "gcoinbundledesc.1016")

In [31]:
legacy_user.withColumn("Nday", datediff(to_date("date"), to_date(lit("2022-01-12")))).select("date", "Nday").show(5, truncate=False)

+----------+----+
|date      |Nday|
+----------+----+
|2022-01-16|4   |
|2022-01-16|4   |
|2022-01-16|4   |
|2022-01-16|4   |
|2022-01-16|4   |
+----------+----+
only showing top 5 rows

In [62]:
legacy_first_login_after_f2p = legacy_user.groupBy("accountid").agg(min("date").alias("first_login"))

In [63]:
legacy_first_login_after_f2p.select(countDistinct('accountid')).show()

+-------------------------+
|count(DISTINCT accountid)|
+-------------------------+
|                  8162382|
+-------------------------+

In [64]:
legacy_user.select(countDistinct("accountid")).show()

+-------------------------+
|count(DISTINCT accountid)|
+-------------------------+
|                  8162382|
+-------------------------+

In [65]:
legacy_user_final = legacy_user.join(legacy_first_login_after_f2p, "accountid", "left")

In [73]:
datediff(legacy_user_final.date, legacy_user_final.first_login)

Column<b'datediff(date, first_login)'>

In [75]:
leg_user2 = legacy_user_final.withColumn("Nday", datediff("date", "first_login") + 1).withColumnRenamed("date", "logindate")
leg_starter2 = leg_user2.join(starterpackage, (leg_user2.accountid == starterpackage.account_id) & (leg_user2.logindate == starterpackage.date), "left")

In [76]:
leg_ndays2 = leg_starter2.groupBy("Nday").agg(countDistinct("accountid").alias("au"), countDistinct("account_id").alias("pu")).select("Nday", "au", "pu", (col("pu")/col("au")).alias("pur")).orderBy("Nday").toPandas()
leg_ndays2.to_csv("./data/leg_ndays2.csv", index=False)

In [77]:
leg_ndays2

    Nday       au      pu       pur
0      1  8162382  702132  0.086020
1      2  3406182  130960  0.038448
2      3  2844086   71923  0.025289
3      4  2640809   53934  0.020423
4      5  2436045   33636  0.013808
5      6  2158214   25139  0.011648
6      7  2059105   21766  0.010571
7      8  2083484   21339  0.010242
8      9  1983907   18581  0.009366
9     10  1893555   17124  0.009043
10    11  1875108   17831  0.009509
11    12  1778707   16960  0.009535
12    13  1609909   14834  0.009214
13    14  1554530   15298  0.009841
14    15  1583497   22658  0.014309
15    16  1485920   15363  0.010339
16    17  1411835   12423  0.008799
17    18  1318775   10809  0.008196
18    19  1219349    9405  0.007713
19    20  1088679    7587  0.006969
20    21  1108945    7956  0.007174
21    22  1133392    9530  0.008408
22    23  1093286    8012  0.007328
23    24  1051375    6855  0.006520
24    25   994355    5929  0.005963
25    26   905683    4795  0.005294
26    27   783218    2830  0.003613
27    28   606881    1919  0.003162

In [94]:
# basic & plus
bp_user = user.withColumn("Nday", datediff(col("date"), col("firstlogindate")) + 1)
# legacy
# leg_user = legacy_user.withColumn("Nday", datediff(to_date("date"), to_date(lit("2022-01-12"))) + 1)

In [95]:
bp_user = bp_user.withColumnRenamed("date", "logindate")
# leg_user = leg_user.withColumnRenamed("date", "logindate")

In [96]:
bp_starter = bp_user.join(starterpackage, (bp_user.accountid == starterpackage.account_id) & (bp_user.logindate == starterpackage.date), "left")
# leg_starter = leg_user.join(starterpackage, (leg_user.accountid == starterpackage.account_id) & (leg_user.logindate == starterpackage.date), "left")

In [81]:
bp_daily_df = bp_starter.groupBy("logindate").agg(countDistinct("accountid").alias("au"), countDistinct("account_id").alias("pu")).select("logindate", "au", "pu", (col("pu")/col("au")).alias("pur")).orderBy("logindate").toPandas()
# leg_daily_df = leg_starter.groupBy("logindate").agg(countDistinct("accountid").alias("au"), countDistinct("account_id").alias("pu")).select("logindate", "au", "pu", (col("pu")/col("au")).alias("pur")).orderBy("logindate").toPandas()

In [82]:
bp_daily_df.to_csv("./data/bp_daily_df.csv", index=False)
# leg_daily_df.to_csv("./data/leg_daily_df.csv", index=False)

In [97]:
bp_ndays = bp_starter.groupBy("Nday").agg(countDistinct("accountid").alias("au"), countDistinct("account_id").alias("pu")).select("Nday", "au", "pu", (col("pu")/col("au")).alias("pur")).orderBy("Nday").toPandas()
# leg_ndays = leg_starter.groupBy("Nday").agg(countDistinct("accountid").alias("au"), countDistinct("account_id").alias("pu")).select("Nday", "au", "pu", (col("pu")/col("au")).alias("pur")).orderBy("Nday").toPandas()

In [98]:
bp_ndays.to_csv("./data/bp_ndays.csv", index=False)
# leg_ndays.to_csv("./data/leg_ndays.csv", index=False)

In [99]:
bp_ndays

    Nday       au     pu       pur
0      1  9623865  63446  0.006593
1      2  3433014  30182  0.008792
2      3  2400569  18441  0.007682
3      4  1907632  13457  0.007054
4      5  1550548   9808  0.006326
5      6  1297396   7932  0.006114
6      7  1128105   6718  0.005955
7      8  1096888   6091  0.005553
8      9   993220   5427  0.005464
9     10   912386   4920  0.005392
10    11   843186   4560  0.005408
11    12   769291   4358  0.005665
12    13   705719   3863  0.005474
13    14   662695   3867  0.005835
14    15   640041   4764  0.007443
15    16   596598   3331  0.005583
16    17   552035   2743  0.004969
17    18   505656   2437  0.004819
18    19   478138   2177  0.004553
19    20   443514   1779  0.004011
20    21   429021   1901  0.004431
21    22   414411   1899  0.004582
22    23   370159   1716  0.004636
23    24   339528   1368  0.004029
24    25   311728   1208  0.003875
25    26   257950    837  0.003245
26    27   145847    569  0.003901
27    28    95019    339  0.003568

In [55]:
leg_ndays

    Nday       au      pu       pur
0      1  1956849  411644  0.210361
1      2  2051358  157637  0.076845
2      3  2111077   98831  0.046815
3      4  2479977  100999  0.040726
4      5  2459858   52984  0.021539
5      6  2019619   31803  0.015747
6      7  1938323   25419  0.013114
7      8  1858602   22272  0.011983
8      9  1878323   20283  0.010798
9     10  1950872   20369  0.010441
10    11  2201889   25803  0.011719
11    12  2203549   24792  0.011251
12    13  1840030   16764  0.009111
13    14  1781169   15285  0.008581
14    15  1846688   39127  0.021188
15    16  1795072   25968  0.014466
16    17  1823729   22619  0.012403
17    18  1825566   21596  0.011830
18    19  1759457   19449  0.011054
19    20  1479258   11419  0.007719
20    21  1575288   12671  0.008044
21    22  1606607   20691  0.012879
22    23  1596085   17757  0.011125
23    24  1626329   16781  0.010318
24    25  1695496   17083  0.010076
25    26  1738311   17504  0.010070
26    27  1610073   10305  0.006400
27    28  1561759    9673  0.006194

In [60]:
bp_user_list = bp_user.select("accountid").distinct().toPandas()["accountid"].tolist()

In [61]:
starterpackage.where(col("account_id").isin(bp_user_list)).select(count("*"), countDistinct("account_id")).show()

Exception ignored in: <function JavaObject.__init__.<locals>.<lambda> at 0x7f71f50e56a8>
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1293, in <lambda>
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 625, in _garbage_collect_object
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 920, in garbage_collect_object
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 985, in send_command
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1145, in send_command
KeyboardInterrupt:
Exception ignored in: <function JavaObject.__init__.<locals>.<lambda> at 0x7f71f7a59158>
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1293, in <lambda>
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 625, in _garbage_collect_object
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 920, in garbage_collect_object
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 985, in send_command
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1152, in send_command
  File "/opt/conda/lib/python3.6/socket.py", line 586, in readinto
    return self._sock.recv_into(b)
KeyboardInterrupt:
Exception ignored in: <function JavaObject.__init__.<locals>.<lambda> at 0x7f71f84ff8c8>
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1293, in <lambda>
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 625, in _garbage_collect_object
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 920, in garbage_collect_object
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 991, in send_command
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 942, in _give_back_connection
KeyboardInterrupt:
Exception ignored in: <function JavaObject.__init__.<locals>.<lambda> at 0x7f71f8bbf730>
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1293, in <lambda>
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 625, in _garbage_collect_object
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 920, in garbage_collect_object
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 985, in send_command
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1152, in send_command
  File "/opt/conda/lib/python3.6/socket.py", line 586, in readinto
    return self._sock.recv_into(b)
KeyboardInterrupt:
Exception ignored in: <function JavaObject.__init__.<locals>.<lambda> at 0x7f71f951d620>
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1293, in <lambda>
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 625, in _garbage_collect_object
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 920, in garbage_collect_object
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 985, in send_command
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1152, in send_command
  File "/opt/conda/lib/python3.6/socket.py", line 586, in readinto
    return self._sock.recv_into(b)
KeyboardInterrupt:
Exception ignored in: <function JavaObject.__init__.<locals>.<lambda> at 0x7f71f9bb9d90>
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1293, in <lambda>
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 625, in _garbage_collect_object
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 920, in garbage_collect_object
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 985, in send_command
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1145, in send_command
KeyboardInterrupt:
Exception ignored in: <function JavaObject.__init__.<locals>.<lambda> at 0x7f71f9e86e18>
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1293, in <lambda>
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 625, in _garbage_collect_object
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 920, in garbage_collect_object
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 985, in send_command
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1141, in send_command
  File "/opt/conda/lib/python3.6/logging/__init__.py", line 1286, in debug
    def debug(self, msg, *args, **kwargs):
KeyboardInterrupt:
Exception ignored in: <function JavaObject.__init__.<locals>.<lambda> at 0x7f71fa4cbae8>
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1293, in <lambda>
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 625, in _garbage_collect_object
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 920, in garbage_collect_object
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 985, in send_command
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1145, in send_command
KeyboardInterrupt:
Exception ignored in: <function JavaObject.__init__.<locals>.<lambda> at 0x7f71fa8ae1e0>
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1293, in <lambda>
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 625, in _garbage_collect_object
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 920, in garbage_collect_object
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 985, in send_command
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1152, in send_command
  File "/opt/conda/lib/python3.6/socket.py", line 586, in readinto
    return self._sock.recv_into(b)
KeyboardInterrupt:
Exception ignored in: <function JavaObject.__init__.<locals>.<lambda> at 0x7f71fabb5b70>
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1293, in <lambda>
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 625, in _garbage_collect_object
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 920, in garbage_collect_object
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 985, in send_command
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1152, in send_command
  File "/opt/conda/lib/python3.6/socket.py", line 586, in readinto
    return self._sock.recv_into(b)
KeyboardInterrupt:
Exception ignored in: <function JavaObject.__init__.<locals>.<lambda> at 0x7f71fb0ed048>
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1293, in <lambda>
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 625, in _garbage_collect_object
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 920, in garbage_collect_object
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 985, in send_command
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1145, in send_command
KeyboardInterrupt:
Exception ignored in: <function JavaObject.__init__.<locals>.<lambda> at 0x7f71fb55b6a8>
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1293, in <lambda>
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 625, in _garbage_collect_object
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 920, in garbage_collect_object
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 985, in send_command
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1152, in send_command
  File "/opt/conda/lib/python3.6/socket.py", line 586, in readinto
    return self._sock.recv_into(b)
KeyboardInterrupt:
Exception ignored in: <function JavaObject.__init__.<locals>.<lambda> at 0x7f71fbab36a8>
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1293, in <lambda>
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 625, in _garbage_collect_object
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 920, in garbage_collect_object
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 985, in send_command
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1145, in send_command
KeyboardInterrupt:
Exception ignored in: <function JavaObject.__init__.<locals>.<lambda> at 0x7f71fbe966a8>
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1293, in <lambda>
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 625, in _garbage_collect_object
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 920, in garbage_collect_object
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 985, in send_command
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1145, in send_command
KeyboardInterrupt:
Exception ignored in: <function JavaObject.__init__.<locals>.<lambda> at 0x7f71fc3afe18>
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1293, in <lambda>
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 625, in _garbage_collect_object
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 920, in garbage_collect_object
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 985, in send_command
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1152, in send_command
  File "/opt/conda/lib/python3.6/socket.py", line 586, in readinto
    return self._sock.recv_into(b)
KeyboardInterrupt:
Exception ignored in: <function JavaObject.__init__.<locals>.<lambda> at 0x7f71fc7e2158>
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1293, in <lambda>
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 625, in _garbage_collect_object
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 920, in garbage_collect_object
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 985, in send_command
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1152, in send_command
  File "/opt/conda/lib/python3.6/socket.py", line 586, in readinto
    return self._sock.recv_into(b)
KeyboardInterrupt:
Exception ignored in: <function JavaObject.__init__.<locals>.<lambda> at 0x7f71fcd29b70>
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1293, in <lambda>
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 625, in _garbage_collect_object
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 920, in garbage_collect_object
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 985, in send_command
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1145, in send_command
KeyboardInterrupt:
Exception ignored in: <function JavaObject.__init__.<locals>.<lambda> at 0x7f71fd175268>
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1293, in <lambda>
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 625, in _garbage_collect_object
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 920, in garbage_collect_object
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 985, in send_command
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1153, in send_command
KeyboardInterrupt:
Exception ignored in: <function JavaObject.__init__.<locals>.<lambda> at 0x7f71fd697ea0>
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1293, in <lambda>
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 623, in _garbage_collect_object
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/protocol.py", line 217, in smart_decode
KeyboardInterrupt:
Exception ignored in: <function JavaObject.__init__.<locals>.<lambda> at 0x7f71fdbe1510>
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1293, in <lambda>
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 625, in _garbage_collect_object
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 920, in garbage_collect_object
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 985, in send_command
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1152, in send_command
  File "/opt/conda/lib/python3.6/socket.py", line 586, in readinto
    return self._sock.recv_into(b)
KeyboardInterrupt:
Exception ignored in: <function JavaObject.__init__.<locals>.<lambda> at 0x7f71fe02bbf8>
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1293, in <lambda>
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 623, in _garbage_collect_object
KeyboardInterrupt:
Exception ignored in: <function JavaObject.__init__.<locals>.<lambda> at 0x7f71fe4359d8>
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1293, in <lambda>
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 625, in _garbage_collect_object
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 920, in garbage_collect_object
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 985, in send_command
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1152, in send_command
  File "/opt/conda/lib/python3.6/socket.py", line 586, in readinto
    return self._sock.recv_into(b)
KeyboardInterrupt:
Exception ignored in: <function JavaObject.__init__.<locals>.<lambda> at 0x7f7215575bf8>
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1293, in <lambda>
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 625, in _garbage_collect_object
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 920, in garbage_collect_object
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 985, in send_command
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1152, in send_command
  File "/opt/conda/lib/python3.6/socket.py", line 586, in readinto
    return self._sock.recv_into(b)
KeyboardInterrupt:
Exception ignored in: <function JavaObject.__init__.<locals>.<lambda> at 0x7f7215f2a268>
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1293, in <lambda>
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 625, in _garbage_collect_object
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 920, in garbage_collect_object
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 985, in send_command
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1152, in send_command
  File "/opt/conda/lib/python3.6/socket.py", line 586, in readinto
    return self._sock.recv_into(b)
KeyboardInterrupt:
Exception ignored in: <function JavaObject.__init__.<locals>.<lambda> at 0x7f72166d5ae8>
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1293, in <lambda>
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 625, in _garbage_collect_object
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 920, in garbage_collect_object
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 985, in send_command
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1152, in send_command
  File "/opt/conda/lib/python3.6/socket.py", line 586, in readinto
    return self._sock.recv_into(b)
KeyboardInterrupt:
Exception ignored in: <function JavaObject.__init__.<locals>.<lambda> at 0x7f7216fcf158>
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1293, in <lambda>
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 625, in _garbage_collect_object
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 920, in garbage_collect_object
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 985, in send_command
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1152, in send_command
  File "/opt/conda/lib/python3.6/socket.py", line 586, in readinto
    return self._sock.recv_into(b)
KeyboardInterrupt:
Exception ignored in: <function JavaObject.__init__.<locals>.<lambda> at 0x7f72176981e0>
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1293, in <lambda>
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 625, in _garbage_collect_object
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 920, in garbage_collect_object
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 985, in send_command
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1152, in send_command
  File "/opt/conda/lib/python3.6/socket.py", line 586, in readinto
    return self._sock.recv_into(b)
KeyboardInterrupt:
Exception ignored in: <function JavaObject.__init__.<locals>.<lambda> at 0x7f7217d45268>
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1293, in <lambda>
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 625, in _garbage_collect_object

KeyboardInterrupt:

In [165]:
bp_user = load_data_mart("pc", "2022-01-12", "2022-03-08", "user_master").where((col("firstlogindate") >= "2022-01-12") & (col("firstlogindate") <= "2022-02-08")  & (col("lastlogindate") == col("date")))
leg_user = load_data_mart("pc", "2022-01-12", "2022-03-08", "user_master").where((col("firstlogindate") < "2022-01-12")  & (col("lastlogindate") == col("date")))

In [166]:
leg_1st_login = leg_user.groupBy("accountid").agg(min("date").alias("first_login")).where(col("first_login") <= "2022-02-08")
leg_user = leg_user.join(leg_1st_login, "accountid")

In [167]:
bp_user = bp_user.withColumn("Nday", datediff("date", "firstlogindate") + 1).withColumnRenamed("date", "logindate")
leg_user = leg_user.withColumn("Nday", datediff("date", "first_login") + 1).withColumnRenamed("date", "logindate")

In [168]:
bp_user = bp_user.where(col("Nday") <= 28)
leg_user = leg_user.where(col("Nday") <= 28)

In [169]:
sp = load_data_mart("pc", "2022-01-12", "2022-03-08", "cash_mtx").where(col("product_id") == "gcoinbundledesc.1016")

In [170]:
bp_sp = bp_user.join(sp, (bp_user.accountid==sp.account_id) & (bp_user.logindate == sp.date), "left")
leg_sp = leg_user.join(sp, (leg_user.accountid==sp.account_id) & (leg_user.logindate == sp.date), "left")

In [215]:
day15 = leg_sp.where((col("Nday") >= 14) & (col("Nday") <= 15)).select("date", "time", "first_login", "Nday", "account_id").toPandas()

In [216]:
day15.to_csv("./data/day15.csv", index=False)

In [219]:
day15 = day15[~day15.account_id.isna()]

In [220]:
user_list = day15[(day15.Nday == 15)].account_id.unique().tolist()

In [221]:
len(user_list)

24324

In [222]:
day15[day15.Nday == 15].groupby("date", as_index=False)["account_id"].count().sort_values("account_id")

          date  account_id
26  2022-02-21          66
27  2022-02-22          74
19  2022-02-14          75
20  2022-02-15          77
21  2022-02-16          78
23  2022-02-18          83
22  2022-02-17          83
25  2022-02-20          97
24  2022-02-19          98
13  2022-02-08         135
12  2022-02-07         147
16  2022-02-11         171
18  2022-02-13         178
15  2022-02-10         182
17  2022-02-12         192
14  2022-02-09         212
5   2022-01-31         252
6   2022-02-01         269
8   2022-02-03         304
9   2022-02-04         343
11  2022-02-06         368
10  2022-02-05         391
7   2022-02-02         405
4   2022-01-30        1030
2   2022-01-28        1495
3   2022-01-29        1762
1   2022-01-27        2613
0   2022-01-26       13144

# 나만의 상점 
PC: 1/26 ~ 2/16

In [198]:
gcoin = load_data_mart("pc", "2022-01-26", "2022-01-31", "gcoin_use")

In [202]:
yourshop = gcoin.where(col("event_name").like("%yourshop%"))

In [213]:
day15_yourshop =  yourshop.where(col("account_id").isin(day15[day15.Nday == 15].account_id.unique().tolist())).toPandas()

In [209]:
day15_yourshop.select(countDistinct("account_id")).show()

+--------------------------+
|count(DISTINCT account_id)|
+--------------------------+
|                     11974|
+--------------------------+

In [233]:
day15.columns = ["date", "sp_buy_time", "first_login_after_f2p", "Nday", "account_id"]
day15_yourshop = day15_yourshop[["date", "account_id", "product_id", "product_name", "free_use", "paid_use", "price_", "time"]]

In [234]:
day15[(day15.Nday == 15)].head()

,date,sp_buy_time,first_login_after_f2p,Nday,account_id
295,2022-01-26,2022-01-26T04:01:50.3012311Z,2022-01-12,15,account.0420118b0f944d79bf9539b882a940c0
397,2022-01-29,2022-01-29T20:38:31.8208429Z,2022-01-15,15,account.057ee308385b4b76af8f77e41851670e
626,2022-02-02,2022-02-02T11:37:59.9257953Z,2022-01-19,15,account.08edd76de20c4c7c89d4a3a26409de05
754,2022-01-26,2022-01-26T13:30:00.5135842Z,2022-01-12,15,account.0ab3aa7a287b473aaa76122f3d6b0ade
852,2022-01-27,2022-01-27T16:27:56.8582749Z,2022-01-13,15,account.0c1c6b5c07904e8b85e0ac09b91b1144

In [235]:
day15_yourshop.dtypes

date            object
account_id      object
product_id      object
product_name    object
free_use         int64
paid_use         int64
price_          object
time            object
dtype: object

In [241]:
# starter pakcage Nday 15에 구매한 유저들의 yourshop 구매
yourshop_sp_df = pd.merge(day15_yourshop, day15[day15.Nday == 15], on="account_id")

In [242]:
yourshop_sp_df.head()

,date_x,account_id,product_id,product_name,free_use,paid_use,price_,time,date_y,sp_buy_time,first_login_after_f2p,Nday
0,2022-01-26,account.01c2db907c4d42c0b1a850dad2dcc90f,itemdesc.11080061,Summer Lovin' Sunglasses,210,0,300.00,2022-01-26T14:03:30.082752Z,2022-01-26,2022-01-26T02:43:59.4867264Z,2022-01-12,15
1,2022-01-26,account.01c2db907c4d42c0b1a850dad2dcc90f,itemdesc.11050081,Rabbit Season Hoodie,200,0,500.00,2022-01-26T14:26:31.3048487Z,2022-01-26,2022-01-26T02:43:59.4867264Z,2022-01-12,15
2,2022-01-26,account.02cbb806337449baae77f46ae68d54a7,itemdesc.13000138,GOLDEN SHIBA CREW SET,470,0,1190.00,2022-01-26T12:01:58.882628Z,2022-01-26,2022-01-26T12:00:07.5325134Z,2022-01-12,15
3,2022-01-26,account.02cbb806337449baae77f46ae68d54a7,itemdesc.13000127,CULT CLASSICS WEAPON PACK,180,1000,2970.00,2022-01-26T12:01:47.1553916Z,2022-01-26,2022-01-26T12:00:07.5325134Z,2022-01-12,15
4,2022-01-26,account.1454e88887474483aa573863a2a0c009,itemdesc.13000033,CHEERLEADER SET,1310,0,1880.00,2022-01-26T08:03:43.8616196Z,2022-01-26,2022-01-26T08:13:10.1312343Z,2022-01-12,15

In [245]:
yourshop_sp_df[["date_x", "date_y"]] = yourshop_sp_df[["date_x", "date_y"]].astype(str)

In [246]:
yourshop_sp_df[(yourshop_sp_df["time"] > yourshop_sp_df["sp_buy_time"]) & (yourshop_sp_df.date_x == yourshop_sp_df.date_y)].account_id.nunique()

8504

In [250]:
24324-8504

15820

34.961355040289426

In [115]:
bp_ndays_df = bp_sp.groupBy("Nday").agg(countDistinct("accountid").alias("au"), countDistinct("account_id").alias("pu")).select("Nday", "au", "pu", (col("pu")/col("au")).alias("pur")).orderBy("Nday").toPandas()
bp_ndays_df.to_csv("./data/bp_ndays_df.csv", index=False)

In [116]:
bp_ndays_df

    Nday       au     pu       pur
0      1  9623865  63446  0.006593
1      2  3471418  30636  0.008825
2      3  2452877  19034  0.007760
3      4  1972599  14064  0.007130
4      5  1626978  10499  0.006453
5      6  1382129   8608  0.006228
6      7  1221422   7405  0.006063
7      8  1197976   6739  0.005625
8      9  1093192   6055  0.005539
9     10  1013848   5533  0.005457
10    11   951310   5213  0.005480
11    12   885304   5050  0.005704
12    13   830201   4527  0.005453
13    14   796271   4571  0.005741
14    15   783596   5474  0.006986
15    16   742732   4118  0.005544
16    17   701365   3513  0.005009
17    18   661829   3228  0.004877
18    19   642846   2994  0.004657
19    20   619488   2652  0.004281
20    21   617526   2897  0.004691
21    22   618070   2898  0.004689
22    23   578306   2734  0.004728
23    24   555613   2403  0.004325
24    25   545670   2361  0.004327
25    26   515862   2151  0.004170
26    27   433206   1988  0.004589
27    28   430697   2029  0.004711

In [117]:
leg_ndays_df = leg_sp.groupBy("Nday").agg(countDistinct("accountid").alias("au"), countDistinct("account_id").alias("pu")).select("Nday", "au", "pu", (col("pu")/col("au")).alias("pur")).orderBy("Nday").toPandas()
leg_ndays_df.to_csv("./data/leg_ndays_df.csv", index=False)

In [118]:
leg_ndays_df

    Nday       au      pu       pur
0      1  8162382  702132  0.086020
1      2  3432241  131662  0.038360
2      3  2884543   72815  0.025243
3      4  2694170   54855  0.020361
4      5  2500952   34662  0.013860
5      6  2233957   26218  0.011736
6      7  2146958   22832  0.010635
7      8  2184914   22475  0.010286
8      9  2088398   19717  0.009441
9     10  2003166   18286  0.009129
10    11  1996132   19024  0.009530
11    12  1913659   18293  0.009559
12    13  1760276   16329  0.009276
13    14  1720919   16791  0.009757
14    15  1770283   24324  0.013740
15    16  1680012   17099  0.010178
16    17  1614440   14320  0.008870
17    18  1536336   12826  0.008348
18    19  1459730   11585  0.007936
19    20  1349467    9907  0.007341
20    21  1396806   10376  0.007428
21    22  1456029   12273  0.008429
22    23  1426516   10762  0.007544
23    24  1403740    9670  0.006889
24    25  1394589    9205  0.006601
25    26  1383040    8779  0.006348
26    27  1352408    7360  0.005442
27    28  1362136    7651  0.005617

In [123]:
bp_user = load_data_mart("pc", "2022-01-12", "2022-03-08", "user_master").where((col("firstlogindate") >= "2022-01-12") & (col("firstlogindate") <= "2022-02-08")  & (col("lastlogindate") == col("date")))
leg_user = load_data_mart("pc", "2022-01-12", "2022-03-08", "user_master").where((col("firstlogindate") < "2022-01-12")  & (col("lastlogindate") == col("date")))

In [124]:
leg_1st_login = leg_user.groupBy("accountid").agg(min("date").alias("first_login")).where(col("first_login") <= "2022-02-08")
leg_user = leg_user.join(leg_1st_login, "accountid")

In [125]:
bp_user = bp_user.withColumn("Nday", datediff("date", "firstlogindate") + 1).withColumnRenamed("date", "logindate").where(col("Nday") <= 28)
leg_user = leg_user.withColumn("Nday", datediff("date", "first_login") + 1).withColumnRenamed("date", "logindate").where(col("Nday") <= 28)

In [126]:
cash_item = load_data_mart("pc", "2022-01-12", "2022-03-08", "cash_mtx")

In [135]:
bp_cash = bp_user.join(cash_item, (bp_user.accountid==cash_item.account_id) & (bp_user.logindate == cash_item.date), "left")
leg_cash = leg_user.join(cash_item, (leg_user.accountid==cash_item.account_id) & (leg_user.logindate == cash_item.date), "left")

In [133]:
bp_nday_au = bp_user.groupBy("Nday").agg(countDistinct("accountid").alias("au"))
leg_nday_au = leg_user.groupBy("Nday").agg(countDistinct("accountid").alias("au"))

In [136]:
bp_nday_pu = bp_cash.groupBy("Nday", "product_name").agg(countDistinct("account_id").alias("pu"))
leg_nday_pu = leg_cash.groupBy("Nday", "product_name").agg(countDistinct("account_id").alias("pu"))

In [139]:
bp_nday_df = bp_nday_au.join(bp_nday_pu, "Nday").withColumn("pur", col("pu")/col("au"))
leg_nday_df = leg_nday_au.join(leg_nday_pu, "Nday").withColumn("pur", col("pu")/col("au"))

In [141]:
bp_nday_by_product = bp_nday_df.toPandas()
leg_nday_by_product = leg_nday_df.toPandas()

In [142]:
bp_nday_by_product.to_csv("./data/bp_nday_by_product.csv", index=False)
leg_nday_by_product.to_csv("./data/leg_nday_by_product.csv", index=False)

In [152]:
bp_nday_by_product[bp_nday_by_product.product_name != "GILT ELEGANCE - 1050 G-COIN SKIN PACK"].pivot_table(values="pur", index="Nday", columns=["product_name"])

product_name,100 G-Coin,1000(+50 Bonus) G-Coin,10000(+1200 Bonus) G-Coin,2500(+200 Bonus) G-Coin,500(+10 Bonus) G-Coin,5000(+500 Bonus) G-Coin,BATTLEGROUNDS PLUS,STARTER PACKAGE
Nday,,,,,,,,
1,0.000937,0.000525,0.000268,0.000320,0.000647,0.000055,0.002265,0.006593
2,0.002021,0.001019,0.000045,0.000548,0.001313,0.000093,0.002562,0.008825
3,0.002176,0.001055,0.000042,0.000508,0.001317,0.000099,0.002312,0.007760
4,0.002164,0.001040,0.000043,0.000529,0.001364,0.000103,0.002202,0.007130
5,0.002246,0.001108,0.000058,0.000554,0.001424,0.000114,0.002179,0.006453
6,0.002228,0.001144,0.000056,0.000594,0.001516,0.000116,0.002192,0.006228
7,0.002238,0.001163,0.000061,0.000635,0.001591,0.000154,0.002171,0.006063
8,0.002245,0.001183,0.000062,0.000637,0.001555,0.000125,0.002097,0.005625
9,0.002291,0.001231,0.000070,0.000606,0.001604,0.000135,0.002126,0.005539
10,0.002314,0.001222,0.000071,0.000695,0.001687,0.000165,0.002035,0.005457
11,0.002685,0.001302,0.000071,0.000633,0.001789,0.000138,0.002050,0.005480
12,0.002909,0.001448,0.000070,0.000697,0.002051,0.000162,0.002017,0.005704
13,0.002781,0.001498,0.000072,0.000695,0.002073,0.000155,0.001986,0.005453
14,0.003082,0.001649,0.000065,0.000743,0.002333,0.000193,0.001955,0.005741
15,0.004095,0.002178,0.000077,0.000881,0.003188,0.000202,0.002150,0.006986
16,0.003138,0.001589,0.000062,0.000754,0.002421,0.000159,0.001974,0.005544
17,0.002736,0.001416,0.000073,0.000716,0.002223,0.000181,0.002042,0.005009
18,0.002718,0.001419,0.000094,0.000736,0.002132,0.000183,0.002097,0.004877
19,0.002707,0.001467,0.000089,0.000725,0.002190,0.000177,0.002078,0.004657
20,0.002618,0.001537,0.000110,0.000770,0.002111,0.000190,0.002208,0.004281
21,0.002656,0.001642,0.000100,0.000823,0.002178,0.000185,0.002322,0.004691
22,0.002663,0.001686,0.000081,0.000777,0.002357,0.000189,0.002226,0.004689
23,0.002725,0.001525,0.000097,0.000725,0.002267,0.000199,0.002161,0.004728
24,0.002640,0.001362,0.000083,0.000711,0.001982,0.000173,0.002090,0.004325
25,0.002567,0.001472,0.000084,0.000750,0.001977,0.000187,0.002109,0.004327
26,0.002454,0.001388,0.000078,0.000737,0.001983,0.000192,0.002206,0.004170
27,0.002851,0.001549,0.000111,0.000838,0.002119,0.000205,0.002431,0.004589
28,0.002916,0.001565,0.000111,0.000866,0.002245,0.000211,0.002475,0.004711

In [147]:
bp_nday_by_product.groupby("Nday", as_index=False)["pur"].mean()

    Nday       pur
0      1  0.001161
1      2  0.001825
2      3  0.001697
3      4  0.001619
4      5  0.001571
5      6  0.001564
6      7  0.001564
7      8  0.001503
8      9  0.001511
9     10  0.001516
10    11  0.001572
11    12  0.001673
12    13  0.001635
13    14  0.001751
14    15  0.002195
15    16  0.001738
16    17  0.001599
17    18  0.001584
18    19  0.001566
19    20  0.001536
20    21  0.001622
21    22  0.001630
22    23  0.001603
23    24  0.001485
24    25  0.001497
25    26  0.001467
26    27  0.001633
27    28  0.001678

In [157]:
leg_nday_by_product[~leg_nday_by_product.product_name.isin(["None", "GILT ELEGANCE - 1050 G-COIN SKIN PACK"])].pivot_table(values="pur", index="Nday", columns=["product_name"])

product_name,100 G-Coin,1000(+50 Bonus) G-Coin,10000(+1200 Bonus) G-Coin,2500(+200 Bonus) G-Coin,500(+10 Bonus) G-Coin,5000(+500 Bonus) G-Coin,BATTLEGROUNDS PLUS,STARTER PACKAGE
Nday,,,,,,,,
1,0.009185,0.002909,0.000757,0.002295,0.004270,0.001005,0.000484,0.086020
2,0.009068,0.003220,0.000832,0.002537,0.003962,0.001081,0.000257,0.038360
3,0.007277,0.002872,0.000712,0.002255,0.003329,0.000926,0.000229,0.025243
4,0.006734,0.002832,0.000677,0.002190,0.003147,0.000906,0.000179,0.020361
5,0.006046,0.002619,0.000546,0.001948,0.002991,0.000756,0.000169,0.013860
6,0.004923,0.002499,0.000530,0.001767,0.002771,0.000669,0.000165,0.011736
7,0.004411,0.002456,0.000492,0.001740,0.002711,0.000673,0.000159,0.010635
8,0.004622,0.002529,0.000540,0.001813,0.002743,0.000694,0.000146,0.010286
9,0.004397,0.002531,0.000532,0.001791,0.002707,0.000708,0.000135,0.009441
10,0.004774,0.002572,0.000545,0.001872,0.002808,0.000781,0.000138,0.009129
11,0.006445,0.002954,0.000616,0.002072,0.003332,0.000824,0.000131,0.009530
12,0.007453,0.003339,0.000567,0.002196,0.003898,0.000848,0.000113,0.009559
13,0.005951,0.003383,0.000579,0.002130,0.004029,0.000784,0.000134,0.009276
14,0.006587,0.004188,0.000614,0.002374,0.005202,0.000872,0.000142,0.009757
15,0.015677,0.011350,0.001091,0.005356,0.014730,0.001725,0.000160,0.013740
16,0.008791,0.006205,0.000798,0.003155,0.007789,0.001170,0.000141,0.010178
17,0.007061,0.005042,0.000800,0.002760,0.006172,0.001111,0.000153,0.008870
18,0.006285,0.004692,0.000780,0.002693,0.005639,0.001069,0.000123,0.008348
19,0.005729,0.004589,0.000841,0.002655,0.005348,0.001077,0.000135,0.007936
20,0.005178,0.004551,0.000680,0.002551,0.005072,0.000993,0.000174,0.007341
21,0.005430,0.004957,0.000681,0.002647,0.005563,0.000956,0.000169,0.007428
22,0.007382,0.007916,0.000741,0.003256,0.009678,0.001079,0.000152,0.008429
23,0.006006,0.005724,0.000599,0.002508,0.006901,0.000902,0.000139,0.007544
24,0.005540,0.004957,0.000539,0.002325,0.005907,0.000815,0.000124,0.006889
25,0.005381,0.004560,0.000549,0.002223,0.005387,0.000766,0.000143,0.006601
26,0.005102,0.004328,0.000541,0.002192,0.005129,0.000769,0.000148,0.006348
27,0.004647,0.003875,0.000530,0.001988,0.004455,0.000726,0.000109,0.005442
28,0.004602,0.003890,0.000481,0.002079,0.004394,0.000716,0.000134,0.005617

In [154]:
leg_nday_by_product

     Nday       au               product_name      pu       pur
0      28  1362136         BATTLEGROUNDS PLUS     182  0.000134
1      28  1362136                 100 G-Coin    6269  0.004602
2      28  1362136                       None       0  0.000000
3      28  1362136    2500(+200 Bonus) G-Coin    2832  0.002079
4      28  1362136     1000(+50 Bonus) G-Coin    5299  0.003890
5      28  1362136            STARTER PACKAGE    7651  0.005617
6      28  1362136      500(+10 Bonus) G-Coin    5985  0.004394
7      28  1362136    5000(+500 Bonus) G-Coin     975  0.000716
8      28  1362136  10000(+1200 Bonus) G-Coin     655  0.000481
9      26  1383040  10000(+1200 Bonus) G-Coin     748  0.000541
10     26  1383040     1000(+50 Bonus) G-Coin    5986  0.004328
11     26  1383040                 100 G-Coin    7056  0.005102
12     26  1383040      500(+10 Bonus) G-Coin    7093  0.005129
13     26  1383040         BATTLEGROUNDS PLUS     204  0.000148
14     26  1383040                       None       0  0.000000
15     26  1383040            STARTER PACKAGE    8779  0.006348
16     26  1383040    2500(+200 Bonus) G-Coin    3032  0.002192
17     26  1383040    5000(+500 Bonus) G-Coin    1063  0.000769
18     27  1352408    5000(+500 Bonus) G-Coin     982  0.000726
19     27  1352408                 100 G-Coin    6284  0.004647
20     27  1352408    2500(+200 Bonus) G-Coin    2688  0.001988
21     27  1352408      500(+10 Bonus) G-Coin    6025  0.004455
22     27  1352408     1000(+50 Bonus) G-Coin    5241  0.003875
23     27  1352408                       None       0  0.000000
24     27  1352408  10000(+1200 Bonus) G-Coin     717  0.000530
25     27  1352408            STARTER PACKAGE    7360  0.005442
26     27  1352408         BATTLEGROUNDS PLUS     147  0.000109
27     12  1913659      500(+10 Bonus) G-Coin    7459  0.003898
28     12  1913659                       None       0  0.000000
29     12  1913659     1000(+50 Bonus) G-Coin    6390  0.003339
..    ...      ...                        ...     ...       ...
224    11  1996132                       None       0  0.000000
225    11  1996132     1000(+50 Bonus) G-Coin    5897  0.002954
226    11  1996132    2500(+200 Bonus) G-Coin    4136  0.002072
227    14  1720919            STARTER PACKAGE   16791  0.009757
228    14  1720919     1000(+50 Bonus) G-Coin    7207  0.004188
229    14  1720919         BATTLEGROUNDS PLUS     244  0.000142
230    14  1720919                       None       0  0.000000
231    14  1720919                 100 G-Coin   11336  0.006587
232    14  1720919  10000(+1200 Bonus) G-Coin    1056  0.000614
233    14  1720919    5000(+500 Bonus) G-Coin    1501  0.000872
234    14  1720919      500(+10 Bonus) G-Coin    8952  0.005202
235    14  1720919    2500(+200 Bonus) G-Coin    4086  0.002374
236     2  3432241                 100 G-Coin   31123  0.009068
237     2  3432241      500(+10 Bonus) G-Coin   13600  0.003962
238     2  3432241         BATTLEGROUNDS PLUS     883  0.000257
239     2  3432241  10000(+1200 Bonus) G-Coin    2857  0.000832
240     2  3432241                       None       0  0.000000
241     2  3432241     1000(+50 Bonus) G-Coin   11051  0.003220
242     2  3432241    2500(+200 Bonus) G-Coin    8709  0.002537
243     2  3432241            STARTER PACKAGE  131662  0.038360
244     2  3432241    5000(+500 Bonus) G-Coin    3711  0.001081
245    18  1536336    2500(+200 Bonus) G-Coin    4137  0.002693
246    18  1536336     1000(+50 Bonus) G-Coin    7209  0.004692
247    18  1536336      500(+10 Bonus) G-Coin    8663  0.005639
248    18  1536336            STARTER PACKAGE   12826  0.008348
249    18  1536336    5000(+500 Bonus) G-Coin    1642  0.001069
250    18  1536336                       None       0  0.000000
251    18  1536336  10000(+1200 Bonus) G-Coin    1198  0.000780
252    18  1536336                 100 G-Coin    9656  0.006285
253    18  1536336         BATTLEGROUNDS PLUS     189  0.000123

[254 rows x 5 columns]

In [144]:
leg_nday_by_product.groupby("Nday", as_index=False)["pur"].mean()

    Nday       pur
0      1  0.010693
1      2  0.006591
2      3  0.004284
3      4  0.004114
4      5  0.003215
5      6  0.002784
6      7  0.002586
7      8  0.002597
8      9  0.002471
9     10  0.002513
10    11  0.002878
11    12  0.003108
12    13  0.002919
13    14  0.003304
14    15  0.007092
15    16  0.004248
16    17  0.003552
17    18  0.003292
18    19  0.003146
19    20  0.002949
20    21  0.003092
21    22  0.004293
22    23  0.003369
23    24  0.003011
24    25  0.002846
25    26  0.002728
26    27  0.002419
27    28  0.002435