In [1]:
import pandas as pd
import os

In [10]:
from pubg_util import mysql, load_schema, notifier
from sphynx import sphynx, NODE_SMALL, NODE_MEDIUM, NODE_LARGE
from pyspark.sql.functions import *
import pandas as pd

## ELSO

In [6]:
elso_product = ['itemdesc.13000290',
 'itemdesc.12031076',
 'itemdesc.13000291',
 'itemdesc.11040055',
 'itemdesc.12031077',
 'itemdesc.11030201',
 'itemdesc.11010354',
 'itemdesc.11030202',
 'itemdesc.12020032',
 'itemdesc.11010351',
 'itemdesc.11040057']

In [4]:
pc_rank = pd.read_csv("./data/elso_period_product_rank_pc.csv")

In [8]:
console_rank = pd.read_csv("./data/elso_period_product_rank_console.csv")

In [7]:
pc_rank[pc_rank.product_id.isin(elso_product)]

,product_name,product_id,price,sell_cnt,PU,revenue,ARPPU
40,El Solitario Wolf Gloves,itemdesc.11040057,300.0,47004,47003,14101200,300.006383
80,El Solitario Biker Gloves,itemdesc.11040055,300.0,28329,28329,8498700,300.000000
87,El Solitario Biker Suit,itemdesc.11010351,990.0,26039,26039,25778610,990.000000
134,El Solitario Wolf - Helmet (Level 1),itemdesc.12031077,500.0,16452,16452,8226000,500.000000
136,El Solitario Desert Wolves,itemdesc.12020032,990.0,16387,16387,16223130,990.000000
196,EL SOLITARIO BIKER SET,itemdesc.13000290,1550.0,9409,9409,14583950,1550.000000
281,EL SOLITARIO WOLF SET,itemdesc.13000291,1550.0,4516,4516,6999800,1550.000000
306,El Solitario Snake Head - Helmet (Level 1),itemdesc.12031076,500.0,3448,3448,1724000,500.000000
318,El Solitario Wolf Bodysuit,itemdesc.11010354,990.0,3179,3179,3147210,990.000000
434,El Solitario Biker Boots (Gray),itemdesc.11030202,300.0,699,699,209700,300.000000
471,El Solitario Biker Boots (Tan),itemdesc.11030201,300.0,230,230,69000,300.000000

In [9]:
console_rank[console_rank.product_id.isin(elso_product)]

,product_name,product_id,price,sell_cnt,PU,revenue,ARPPU
23,El Solitario Wolf - Helmet (Level 1),itemdesc.12031077,500.0,3876,3876,1938000,500.0
31,El Solitario Wolf Gloves,itemdesc.11040057,300.0,3176,3176,952800,300.0
104,El Solitario Desert Wolves,itemdesc.12020032,990.0,1444,1444,1429560,990.0
133,El Solitario Wolf Bodysuit,itemdesc.11010354,990.0,1135,1135,1123650,990.0
134,El Solitario Biker Suit,itemdesc.11010351,990.0,1135,1135,1123650,990.0
145,EL SOLITARIO WOLF SET,itemdesc.13000291,1550.0,1002,1002,1553100,1550.0
165,El Solitario Biker Boots (Gray),itemdesc.11030202,300.0,867,867,260100,300.0
177,El Solitario Biker Gloves,itemdesc.11040055,300.0,786,786,235800,300.0
206,El Solitario Snake Head - Helmet (Level 1),itemdesc.12031076,500.0,634,634,317000,500.0
291,EL SOLITARIO BIKER SET,itemdesc.13000290,1550.0,372,372,576600,1550.0
372,El Solitario Biker Boots (Tan),itemdesc.11030201,300.0,201,201,60300,300.0

## SON

In [12]:
son_product = ['itemdesc.12010446',
 'itemdesc.13000310',
 'itemdesc.11040058',
 'itemdesc.12010445',
 'itemdesc.11020244',
 'itemdesc.11010364',
 'itemdesc.11030211',
 'itemdesc.11030212',
 'itemdesc.11050162',
 'itemdesc.13000308',
 'itemdesc.11020243',
 'itemdesc.11010365',
 'itemdesc.13000309',
 'itemdesc.13000311']

In [13]:
son_pc_rank = pd.read_csv("./data/son_period_product_rank_pc.csv")

son_console_rank = pd.read_csv("./data/son_period_product_rank_console.csv")

In [16]:
son_pc_rank[son_pc_rank["product_id"].isin(son_product)]

,product_name,product_id,price,sell_cnt,PU,revenue,ARPPU
21,Son Heung-min - M416,itemdesc.12010445,990.0,56729,56729,56161710,990.0
29,SON HEUNG-MIN'S WEAPON BUNDLE,itemdesc.13000311,1500.0,45972,45972,68958000,1500.0
64,Son Heung-min's Gloves,itemdesc.11040058,300.0,25352,25352,7605600,300.0
72,SON HEUNG-MIN'S OUTFIT BUNDLE,itemdesc.13000310,2530.0,20624,20624,52178720,2530.0
145,Son Heung-min - Mini14,itemdesc.12010446,990.0,8278,8278,8195220,990.0
152,Son Heung-min's Shirt,itemdesc.11010364,500.0,7710,7710,3855000,500.0
194,Son Heung-min's Shoes,itemdesc.11030211,300.0,5617,5617,1685100,300.0
199,Son Heung-min's Jersey,itemdesc.11010365,500.0,5347,5347,2673500,500.0
254,SON HEUNG-MIN'S CLOTHING BUNDLE,itemdesc.13000309,1720.0,3076,3076,5290720,1720.0
261,Son Heung-min's Slacks,itemdesc.11020243,500.0,2825,2825,1412500,500.0
274,SON HEUNG-MIN'S JERSEY BUNDLE,itemdesc.13000308,1270.0,2550,2550,3238500,1270.0
275,Son Heung-min's Jacket,itemdesc.11050162,990.0,2543,2543,2517570,990.0
299,Son Heung-min's Cleats,itemdesc.11030212,300.0,1788,1788,536400,300.0
338,Son Heung-min's Uniform Shorts,itemdesc.11020244,500.0,1018,1018,509000,500.0

In [17]:
son_console_rank[son_console_rank["product_id"].isin(son_product)]

,product_name,product_id,price,sell_cnt,PU,revenue,ARPPU
13,Son Heung-min's Shirt,itemdesc.11010364,500.0,4256,4256,2128000,500.0
16,Son Heung-min's Gloves,itemdesc.11040058,300.0,3789,3789,1136700,300.0
23,Son Heung-min - M416,itemdesc.12010445,990.0,2729,2729,2701710,990.0
29,Son Heung-min's Slacks,itemdesc.11020243,500.0,2481,2481,1240500,500.0
38,Son Heung-min's Jersey,itemdesc.11010365,500.0,2006,2006,1003000,500.0
53,Son Heung-min's Jacket,itemdesc.11050162,990.0,1572,1572,1556280,990.0
55,SON HEUNG-MIN'S WEAPON BUNDLE,itemdesc.13000311,1500.0,1563,1563,2344500,1500.0
71,SON HEUNG-MIN'S CLOTHING BUNDLE,itemdesc.13000309,1720.0,1337,1337,2299640,1720.0
82,SON HEUNG-MIN'S OUTFIT BUNDLE,itemdesc.13000310,2530.0,1199,1199,3033470,2530.0
91,Son Heung-min's Shoes,itemdesc.11030211,300.0,1147,1147,344100,300.0
125,Son Heung-min's Cleats,itemdesc.11030212,300.0,748,748,224400,300.0
180,SON HEUNG-MIN'S JERSEY BUNDLE,itemdesc.13000308,1270.0,450,450,571500,1270.0
190,Son Heung-min - Mini14,itemdesc.12010446,990.0,430,430,425700,990.0
224,Son Heung-min's Uniform Shorts,itemdesc.11020244,500.0,353,353,176500,500.0

## BLACKPINK

In [18]:
bp_product = ['itemdesc.13000316',
 'itemdesc.13000315',
 'itemdesc.13000318',
 'itemdesc.13000317',
 'itemdesc.13000314']

In [19]:
bp_pc_rank = pd.read_csv("./data/bp_period_product_rank_pc.csv")

bp_console_rank = pd.read_csv("./data/bp_period_product_rank_console.csv")

In [20]:
bp_pc_rank[bp_pc_rank.product_id.isin(bp_product)]

,product_name,product_id,price,sell_cnt,PU,revenue,ARPPU
12,BLACKPINK MEGA BUNDLE,itemdesc.13000318,9900.0,83000,83000,821700000,9900.0
13,JENNIE'S BLACKPINK BUNDLE,itemdesc.13000317,2780.0,59618,59618,165738040,2780.0
15,ROSÉ'S BLACKPINK BUNDLE,itemdesc.13000314,2780.0,58770,58770,163380600,2780.0
18,JISOO'S BLACKPINK BUNDLE,itemdesc.13000315,2780.0,49207,49207,136795460,2780.0
31,LISA'S BLACKPINK BUNDLE,itemdesc.13000316,2780.0,36222,36222,100697160,2780.0

In [22]:
bp_console_rank[bp_console_rank.product_id.isin(bp_product)]

,product_name,product_id,price,sell_cnt,PU,revenue,ARPPU
16,JISOO'S BLACKPINK BUNDLE,itemdesc.13000315,2780.0,2793,2793,7764540,2780.0
17,ROSÉ'S BLACKPINK BUNDLE,itemdesc.13000314,2780.0,2737,2737,7608860,2780.0
23,JENNIE'S BLACKPINK BUNDLE,itemdesc.13000317,2780.0,2160,2160,6004800,2780.0
31,BLACKPINK MEGA BUNDLE,itemdesc.13000318,9900.0,1843,1843,18245700,9900.0
96,LISA'S BLACKPINK BUNDLE,itemdesc.13000316,2780.0,713,713,1982140,2780.0